# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
__pycache__/
*.py[cod]
qa-*.png
hf-space/app/sumo/**/output/*
!hf-space/app/sumo/**/output/.gitkeep
hf-space/app/sumo/berlin/
data/intermediate/sumo/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
